<h1>商品詳細</h1>
<div class="post-body">
  <%= attachment_image_tag @item, :image %>
  <p>商品名：<%= @item.name %></p>
  <p>説明：<%= @item.introduction %></p>
  <p>ジャンル：<%= @item.genre.name %></p>
  <p>税込価格（税抜価格）：<%= @item.price %></p>
  <p>販売ステータス<%= @itemis_active %></p>
  <% if @item.customer == current_customer %>
  <p><%= link_to "編集",  edit_admin_item_path(@item.id), class: 'btn btn-default' %></p>
  <% end %>
</div>