<h2>配送先登録 / 一覧</h2>

<%= form_with model:@address, local:true do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

  <p>郵便番号（ハイフンなし）</p><%= f.text_field :postal_code, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
  <p>住所</p>  <%= f.text_field :address, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
  <p>宛名</p><%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
  <%= f.submit "登録する" %>
<% end %>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr id="address_<%= address.id %>">
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td class="edit-btn"><%= link_to "編集する", edit_address_path(address) %></td>
        <td class="delete-btn"><%= link_to "削除する", address_path(address), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>