<main>

  <div class='container'>
  	<div class='row'>
    	<div class='col-lg-3'>
        <p>ジャンル検索</p>
        <%= link_to "ケーキ", root_path %>
        <%= link_to "焼き菓子", root_path %>
        <%= link_to "プリン", root_path %>
        <%= link_to "キャンディ", root_path %>
    	</div>
    	<div class='col-lg-9'>
    	  <div class="mx-auto" style="width: 800px;">
    	  <div class="main-visual">
    	    <div class="main-visual-content">
            <p class="main-visual-text">
              Welcome to NaganoCake<br />
              Our cakes make you happy<br />
            </p>
          </div>
    	  </div>

    	  <p>商品写真と案内文</p>
        <h2>おすすめ商品</h2>
        <%= link_to "もっと見る>", root_path %>
    	</div>

      </div>
    </div>
  </div>
</main>
