<h3>注文情報確認</h3>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
 <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td>
        <td><%= cart_item.quentity %></td>
        <td><%= cart_item.item.price * cart_item.quentity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
a

支払い方法<%= @order.payment_method %>

お届け先
<%= @order.postal_code %>
<%= @order.address %>
<%= @order.name %>


<%=  form_with model: @order, local: true do |form| %>
 <%= form.hidden_field :payment_method, value: @order.payment_method %>
 <%= form.hidden_field :name, value: @order.name %>
 <%= form.hidden_field :address, value: @order.address %>
 <%= form.hidden_field :postal_code, value: @order.postal_code %>
 <%= form.hidden_field :shipping_cost, value: @order.shipping_cost %>
 <%= form.hidden_field :total_payment, value: @order.total_payment %>

 <%= form.submit "購入を確定する" ,data: {confirm: "本当に購入してもよろしいですか？"}, class: "btn btn-primary" %>

<% end %>
