<h3>注文情報確認</h3>

<table>
  <thead>
    <tr>
      <th></th>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>yyyy/mm/dd</td>
        <td>郵便番号、住所、名前</td>
        <td>いちごのタルト</td>
        <td>100円</td>
        <td>発送済み</td>
        <td>表示するボタン</td>
      </tr>
  </tbody>
</table>
  支払い方法　"クレジットカード"
  
  お届け先　"ooo-ooooo"
  
<%=  form_with model: @order, local: true do |form| %>
 <%= form.hidden_field :payment_method, value: @order.payment_method %>
 <%= form.hidden_field :name, value: @order.name %>
 <%= form.hidden_field :address, value: @order.address %>
 <%= form.hidden_field :postal_code, value: @order.postal_code %>
 <%= form.hidden_field :shipping_cost, value: @order.shipping_cost %>
 <%= form.hidden_field :total_payment, value: @order.total_payment %>

 <% form.submit "購入を確定する" ,data: {confirm: "本当に購入してもよろしいですか？"}, class: "btn btn-primary" %>

<% end %>
