<h3>注文情報入力</h3>

<h1>支払方法</h1>

<%= form_with model: @order, url: orders_confirm_path, local: true do |form| %>
クレジットカード
<%= form.radio_button :payment_method, :クレジット %>
  
銀行振込
<%= form.radio_button :payment_method, :銀行振込 %>

<h1>お届け先</h1>

ご自身の住所
<%= form.radio_button :address_option, 0 %>
  
登録済住所から選択
<%= form.radio_button :address_option, 1 %>
<div>
    <%= form.select :address_id, current_customer.addresses.map{ |address| [address.address, address.id]},prompt: "お届け先を選択してください" %>
</div>

新しいお届け先
<%= form.radio_button :address_option, 2 %>
<div>
    <%= form.label :postal_code, "郵便番号" %>
    <%= form.text_field :postal_code   %>
</div>

<div>
    <%= form.label :address, "住所" %>
    <%= form.text_field :address   %>
</div>

<div>
    <%= form.label :name, "宛名" %>
    <%= form.text_field :name   %>
</div>

    <%= form.submit "確認画面に進む" ,class: 'btn btn-primary' %>

<% end %>

<!--#formラジオボタンの使い方をメンターに相談する。-->
<!--#mapを調べるruby-->