<div>
  <%#= render 'genrebox', genres: @genres %> <!--ジャンル検索-->
</div>


<div class="post-body">
  <%= attachment_image_tag @item, :image %>
  <p>商品名：<%= @item.name %></p>
  <p>説明：<%= @item.introduction %></p>
  <p>金額：<%= @item.price %></p>

<div>
<%#= form_for (@cart_item) do |f| %>
<%= form_with model: @cart_item, url: public_cart_items_path,method: :post, local: true do |f| %>

  <%= f.number_field :quantity, min:1, placeholder: "個数選択" %><span>個</span>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.submit "カートに入れる", class: "btn btn-outline-danger" %>
<% end %>
</div>